body {
    font-size: 13px;
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
}

.chat_list .list-group-item {
    padding: 5px 4px;
    min-height: 50px;
}

@media (max-width: 768px) {
    .chat_list .list-group-item {
        min-height: inherit;
    }
}

.chat_list .list-group-item-text {
    word-wrap: break-word;
    display: flex;
    overflow: auto;
}

.chat_list .pull-left {
    width: 55px;
    text-align: center;
}
